server:
  port: 8090
  servlet.contextPath: /account-manager


#spring:
#  data.mongodb:
#    uri: mongodb+srv://mongdb_usr:'passwor#'@mongo-free-okouq.mongodb.net/test?retryWrites=true
#    database: account-profile


security:
    oauth2:
        client:
            clientId: 220043929912-p9hg1k9c011gefmjsghr525ec1e2ncg8.apps.googleusercontent.com
            clientSecret: UwedP8HOw9QfbHuPp2g-GdYd
            accessTokenUri: https://www.googleapis.com/oauth2/v3/token
            userAuthorizationUri: https://accounts.google.com/o/oauth2/auth
            tokenName: oauth_token
            authenticationScheme: query
            clientAuthenticationScheme: form
            scope: profile
        resource:
            userInfoUri: https://www.googleapis.com/userinfo/v2/me
            preferTokenInfo: false

